<div style="height: 25vh"></div>
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="container">
      <div class="row">
        <div class="w-responsive align-middle text-center mx-auto p-3 mt-2">
          <h1><strong>Find</strong>Me</h1>
          <h4 style="color:rgb(97, 98, 107)"><i>Click the button to see your location.</i></h4>
          <button mdbBtn type="button" color="success" size="lg" mdbWavesEffect routerLink="/dashboard">
            <mdb-icon fas icon="map-marked-alt" class="mr-1"></mdb-icon><strong>WHERE AM I?</strong>
          </button>
        </div>
      </div>
    </div>
  </div>
